.acm-currencyCard {
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  border: 3px double rgba($color-1, 0.3);

  .currency-infos,
  .currency-changes {
    display: flex;
    gap: 10px;
    align-items: center;
    border-left: 3px solid rgba($color-3, 0.8);
    border-right: 3px solid rgba($color-3, 0.8);
    padding: 2px 10px;
    background: rgba($color-4, 0.3);
  }

  .currency-changes {
  }
}
