.acm-devises-container {
  border-top: 2px solid $color-4;
  border-bottom: 2px solid $color-4;
  border-left: 1px solid $color-4;
  border-right: 1px solid $color-4;
  margin-top: 15px;
  margin-bottom: 50px;
  padding: 10px;
  background: $color-5;
}
