@media screen and (min-width: 0) {
  .acm-wallet-form-container {
    margin: 10px auto;

    h3 {
      margin: 10px 5px;
      padding: 7px 0;
      border-bottom: 2px solid $color-3;
    }

    .acm-wallet-form {
      .btn-form {
        display: flex;
        justify-content: center;
        button {
          margin: 20px;
          padding: 7px 15px;
          font-weight: bolder;
          font-size: 1.2em;
          color: $color-3;
          cursor: pointer;
          transition: 0.3s ease;

          &:disabled {
            display: none;
          }
          &:hover {
            background: $color-3;
            color: $color-2;
          }
        }
      }
      h4 {
        margin: 10px;
      }

      .acm-wallet-currency-container {
        border-bottom: 1px solid $color-3;
        padding: 30px 0;
        .spanCurrencySelectText {
          margin: 10px;
        }
        .acm-wallet-currency-select-container {
          display: flex;
          justify-content: space-evenly;
          align-items: baseline;

          select {
            border: none;
            border-bottom: 1px solid $color-1;
            border-radius: 1px;
            margin: 10px;
            padding: 7px;
            text-align: center;
            transition: box-shadow 0.4s;

            &:focus-within {
              box-shadow: 0 0 2px rgba($color-4, 0.75);
            }
          }

          .acm-wallet-currency-spans-container {
            font-size: 0.9em;

            #spanCurrencyDollar {
              color: $dollar-color;
            }
            #spanCurrencyEuro {
              color: $euro-color;
            }
          }
        }

        .currencyAmount-container {
          align-items: baseline;
          .spanCurrencyAmountText {
            margin: 10px;
            #spanCurrencyAmount {
              font-size: 1.1em;
              font-style: italic;
              font-weight: bolder;
              color: $inputs-color-1;
              margin: 2px 5px;
              border-bottom: 1px solid $color-2;
              // background: rgba($color-2, 0.4);
            }
          }

          input {
            border: none;
            border-bottom: 1px solid $color-1;
            border-radius: 1px;
            margin: 10px 30px;
            padding: 7px;
            text-align: center;
            transition: box-shadow 0.4s;

            &:focus-within {
              box-shadow: 0 0 2px rgba($color-4, 0.75);
            }
          }
        }
      }

      .acm-wallet-crypto-container {
        .spanCryptoSelectText {
          margin: 10px;
        }

        .acm-wallet-crypto-input-containers {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 15px auto;
          max-width: 90%;
          // border: 2px solid black;

          label {
            width: 25%;
            color: $color-2;
            background: rgba($color-4, 0.4);
            text-align: center;
            padding: 3px;
            font-weight: bolder;
          }
          input {
            border: none;
            border-bottom: 1px solid $color-1;
            border-radius: 1px;
            margin: 10px 30px;
            padding: 7px;
            min-width: 30%;
            text-align: center;
            transition: box-shadow 0.4s;

            &:focus-within {
              box-shadow: 0 0 2px rgba($color-4, 0.75);
            }
          }

          .spanConvert-container {
            display: flex;
            flex-direction: column;
            // border: 1px solid black;
            max-width: 50%;
            span {
              display: flex;
              flex-wrap: wrap;
              // border: 1px solid green;
              overflow-x: auto;
              padding: 5px;
              font-weight: bolder;

              &:first-child {
                color: $dollar-color;
              }
              &:last-child {
                color: $euro-color;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .acm-wallet-form {
    width: 70%;
    margin: auto;
  }
}
