.acm-wallet-container {
  border-top: 2px solid $color-4;
  border-bottom: 2px solid $color-4;
  border-left: 1px solid $color-4;
  border-right: 1px solid $color-4;
  padding: 10px;

  h2 {
    text-align: center;
    border-bottom: 1px dashed $color-4;
    border-top: 1px dashed $color-4;
    background: $color-3;
  }

  .wallet-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

    #soldes {
      // margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
      font-weight: bolder;
      font-style: italic;
      padding: 2px;
    }

    .wallet-currencies-container {
      display: flex;
      flex-direction: column;

      span {
        margin: 7px;
      }
    }
  }

  .wallet-btn {
    width: 25%;
    text-align: center;
    margin: 10px auto;
    padding: 2px;
    background: $color-3;
    border: 1px solid $color-1;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background-color: $color-2;
    }
  }

  .wallet-total {
    border: 1px solid $color-1;
    background: $color-4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    text-align: center;
    margin: 20px auto;
    padding: 25px;
    font-size: 2em;
    font-weight: bolder;
  }

  .wallet-transac {
    border: 1px solid $color-1;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
    margin: 10px auto;
    padding: 3px;
  }
}

@media screen and (max-width: 400px) {
  .acm-wallet-container {
    padding: 5px;

    .wallet-display {
      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .wallet-btn {
      width: 75%;
      text-align: center;
      margin: 10px auto;
      padding: 2px;
      background: $color-3;
      border: 1px solid $color-1;

      &:hover {
        background-color: $color-2;
      }
    }

    .wallet-total {
      font-size: 1.3em;
    }

    .wallet-transac,
    .wallet-total {
      width: 90%;
      border: 1px solid $color-1;
      display: flex;
      justify-content: space-evenly;
      margin: 10px;
      padding: 3px;
    }
  }
}
