$color-1: #f0f0ff;
// $color-1: #239125;
// $color-1: #e0ab2f;
$color-2: #130255;
// $color-2: #e4e4ff;
// $color-2: #333333;
$color-3: #bb7830;
// $color-3: #c6c6da;
// $color-3: #242424;
$color-4: #da810c;
// $color-4: #660303;
$color-5: #f8f8fe;

$inputs-color-1: #b82020;
$inputs-color-2: #15a010;
// $inputs-color-3: #ededed;
$inputs-color-3: #999;

$percent1: #b82020;
$percent2: #20b820;
$percent3: #a6a820;

:export {
  percent1: $percent1;
  percent2: $percent2;
  percent3: $percent3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 4px;
}

body {
  background: $color-2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: $color-1;
}

.errmsg {
  font-size: 1.2em;
  width: 90%;
  text-align: center;
  padding: 10px;
  color: $color-1;
  background: $inputs-color-1;
}

.instructions {
  color: $inputs-color-1;
  background: #000;
  border: 2px dashed $inputs-color-1;
  padding: 15px;
  border-radius: 20px;
}

.confirmPwd {
  color: $inputs-color-3;
  background: #000;
  border: 2px dashed $inputs-color-3;
  padding: 15px;
  border-radius: 20px;
}

.offscreen {
  position: absolute;
  left: -5000px;
}
